<p>expert works!</p>
<div>
  <p>{{ expertResponse.ID }}</p>
</div>
<button (click)="activateDiv(1)">Profile</button>
<button (click)="activateDiv(2)">Shifts</button>
<!-- PROFILE PROFILE PROFILE PROFILE PROFILE PROFILE PROFILE -->
    <div *ngIf="activeDiv === 1"> 
    <p>Block 1 is activated!</p>
    <button (click)="activate1Div(1)">My Profile</button>
    <button (click)="activate1Div(2)">Edit Profile</button>

        <div *ngIf="active1Div === 1"> 
        <p>Block 11 is activated!</p>
        </div>

        <div *ngIf="active1Div === 2"> 
        <p>Block 12 is activated!</p>
        <button (click)="activate12Div(1)">Name</button>
        <button (click)="activate12Div(2)" (click)="countryList()">Address</button>
        <button (click)="activate12Div(3)">Banking</button>
        <button (click)="activate12Div(4)">Identity</button>
        <button (click)="activate12Div(5)" (click)="commissionList()">Payment Related</button>
        <button (click)="activate12Div(6)">Personal</button>

              <div *ngIf="active12Div === 1"> 
              <p>Block 121 is activated!</p>
              <form #nameform="ngForm" (ngSubmit)="editExpertName(nameform.value)">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" ngModel required><br>
                <label for="middlename">Middle Name</label>
                <input type="text" name="middlename" ngModel required><br>
                <label for="lasttname">Last Name</label>
                <input type="text" name="lastname" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>

              <div *ngIf="active12Div === 2"> 
              <p>Block 122 is activated!</p>
              <form #nameform="ngForm" (ngSubmit)="editAddress(nameform.value)">
                <label for="housename">House Name/Number</label>
                <input type="text" name="housename" ngModel required><br>
                <label for="street">Street Name</label>
                <input type="text" name="street" ngModel required><br>
                <label for="landmark">Landmark</label>
                <input type="text" name="landmark" ngModel required><br>
                <label for="place">Place</label>
                <input type="text" name="place" ngModel required><br>
                <label for="postoffice">Post Office</label>
                <input type="text" name="postoffice" ngModel required><br>
                <label for="pincode">Pincode</label>
                <input type="number" name="pincode" ngModel required><br>
                <label for="localbody">Local Body</label>
                <input type="text" name="localbody" ngModel required><br>
                <label for="country">Select country</label>
                <select id="itemSelect1" [(ngModel)]="selectedItem1" name="country" (change)="stateByCountryCode()">
                <option *ngFor="let dataItem1 of response2" [ngValue]="dataItem1">{{ dataItem1.countryname }}</option>
                </select><br>
                <label for="state">Select state</label>
                <select id="itemSelect2" [(ngModel)]="selectedItem2" name="state" (change)="districtByStateCode()">
                <option *ngFor="let dataItem2 of response3" [ngValue]="dataItem2">{{ dataItem2.state }}</option>
                </select><br>
                <label for="district">Select district</label>
                <select id="itemSelect3" [(ngModel)]="selectedItem3" name="district" (change)="talukbyDistrictCode()">
                <option *ngFor="let dataItem3 of response4" [ngValue]="dataItem3">{{ dataItem3.districtname }}</option>
                </select><br>
                <label for="taluk">Select taluk</label>
                <select id="itemSelect4" [(ngModel)]="selectedItem4" name="taluk">
                <option *ngFor="let dataItem4 of response5" [ngValue]="dataItem4">{{ dataItem4.thalukname }}</option>
                </select><br>
                <input type="submit" value="Submit" >
                </form>
              </div>

              <div *ngIf="active12Div === 3"> 
              <p>Block 123 is activated!</p>
              <form #bankform="ngForm" (ngSubmit)="editBanking(bankform.value)">
                <label for="bank">Bank Name</label>
                <input type="text" name="bank" ngModel required><br>
                <label for="branch">Branch</label>
                <input type="text" name="branch" ngModel required><br>
                <label for="ifsc">IFSC code</label>
                <input type="text" name="ifsc" ngModel required><br>
                <label for="accountnumber">Account Number</label>
                <input type="text" name="accountnumber" ngModel required><br>
                <label for="secretpin">Secret Pin</label>
                <input type="number" name="secretpin" ngModel required><br>
                <label for="upiid">UPI ID</label>
                <input type="text" name="upiid" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>
              
              <div *ngIf="active12Div === 4"> 
              <p>Block 124 is activated!</p>
              <form #identityform="ngForm" (ngSubmit)="editIdentity(identityform.value)">
                <label for="adhar">Adhar Number</label>
                <input type="text" name="adhar" ngModel required><br>
                <label for="pancard">Pancard Number</label>
                <input type="text" name="pancard" ngModel required><br>
                <label for="electionid">Election id</label>
                <input type="text" name="electionid" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>

              <div *ngIf="active12Div === 5"> 
              <p>Block 125 is activated!</p>
              <form #paymentrelatedform="ngForm" (ngSubmit)="paymentrelated(paymentrelatedform.value)">
                <label for="payment">Enter your payment per hour</label>
                <input type="number" name="payment" [(ngModel)]="payment" required><br>
                <label for="commission">Select commission to company</label>
                <select id="itemSelect" [(ngModel)]="selectedItem" name="commission">
                <option *ngFor="let dataItem of response1" [ngValue]="dataItem">{{ dataItem.commissionpersentage }}</option>
                </select>
                <input type="submit" value="Submit" >
              </form>
              </div>

              <div *ngIf="active12Div === 6"> 
              <p>Block 127 is activated!</p>
              <form #personalform="ngForm" (ngSubmit)="editPersonal(personalform.value)">
                <label for="age">Age</label>
                <input type="number" name="age" ngModel required><br>
                <label for="dob">Date of birth</label>
                <input type="date" name="dob" ngModel required><br>
                <label for="gender">Gender</label>
                <input type="text" name="gender" ngModel required><br>
                <label for="father">Father's Name</label>
                <input type="text" name="father" ngModel required><br>
                <label for="mother">Mother's Name</label>
                <input type="text" name="mother" ngModel required><br>
                <label for="spouse">Spouse Name</label>
                <input type="text" name="spouse" ngModel required><br>
                <label for="children">Number of children</label>
                <input type="text" name="children" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>
        </div>
    </div>
  
<!-- SHIFT SHIFT SHIFT SHIFT SHIFT SHIFT SHIFT SHIFT SHIFT -->
    <div *ngIf="activeDiv === 2"> 
    <p>Block 2 is activated!</p>
    <button (click)="activate2Div(1)" (click)="findShiftsByExpert()">My Shifts</button>
    <button (click)="activate2Div(2)" (click)="countryList()" (click)="jobList()">Create Shift</button>
    
        <div *ngIf="active2Div === 1"> 
        <p>Block 21 is activated!</p>
        <div>
          <button (click)="filterByStatus('ACTIVE')" (click)="showRequests()">Active Shifts</button>
          <button (click)="filterByStatus('BOOKED')" (click)="showStartBtn()">Shifts Booked</button>
          <button (click)="filterByStatus('EXPIRED')">Expired Shifts</button>
          <button (click)="filterByStatus('INCOMPLETE')">Incomplete Shifts</button>
          <button (click)="filterByStatus('RUNNING')" (click)="showWorkFinished()">Running Shift</button>
          <button (click)="filterByStatus('FINISHED')">Finished Shifts</button>
          <!-- Add more buttons based on your status values -->
        
              <div *ngFor="let item of response8">
              <!-- Display the item properties as needed -->
              {{ item.generatedshiftid }} - {{ item.status }}
              <button *ngIf="isShowRequestsButtonVisible" (click)="findShiftRequestsByShiftId(item.generatedshiftid)">Show Requests</button>
              <button *ngIf="isStartBtnVisible" (click)="startWork(item)">Start</button>
              <button *ngIf="isWorkFinishedVisible" (click)="workFinishing()">Finished</button>
                  <div *ngIf="isfinishformvisible">
                    <label for="hoursforwork">Item Description:</label>
                    <input type="number" id="hoursforwork" [(ngModel)]="hoursforwork" />
                    <button (click)="workFinished(item)">Hours taken to finish the work</button>
                  </div>
              </div>

                  <div *ngFor="let request of response9">
                  {{request.shiftid}} - {{request.shiftdate}} -{{request.customername}} - {{request.address}}
                    <button (click)="acceptRequest(request)">Accept</button>
                    <button>Reject</button>
                  </div>
        </div>

        </div>

        <div *ngIf="active2Div === 2"> 
        <p>Block 22 is activated!</p>
        <form #shiftform="ngForm" (ngSubmit)="createShift(shiftform.value)">
          <label for="expertname">Enter expert name</label>
          <input type="text" name="expertname" [(ngModel)]="expertname" required><br>
          <label for="shiftdate">Enter Shift Date</label>
          <input type="date" name="shiftdate" [(ngModel)]="shiftdate" required><br>
          <label for="shifttime">Enter Shift Time</label>
          <input type="time" name="shifttime" [(ngModel)]="shifttime" required><br>
          <label for="contact">Enter contact number</label>
          <input type="number" name="contact" [(ngModel)]="contact" required><br>
          <label for="country">Select country</label>
          <select id="itemSelect1" [(ngModel)]="selectedItem1" name="country" (change)="stateByCountryCode()">
          <option *ngFor="let dataItem1 of response2" [ngValue]="dataItem1">{{ dataItem1.countryname }}</option>
          </select><br>
          <label for="state">Select state</label>
          <select id="itemSelect2" [(ngModel)]="selectedItem2" name="state" (change)="districtByStateCode()">
          <option *ngFor="let dataItem2 of response3" [ngValue]="dataItem2">{{ dataItem2.state }}</option>
          </select><br>
          <label for="district">Select district</label>
          <select id="itemSelect3" [(ngModel)]="selectedItem3" name="district" (change)="talukbyDistrictCode()">
          <option *ngFor="let dataItem3 of response4" [ngValue]="dataItem3">{{ dataItem3.districtname }}</option>
          </select><br>
          <label for="taluk">Select taluk</label>
          <select id="itemSelect4" [(ngModel)]="selectedItem4" name="taluk">
          <option *ngFor="let dataItem4 of response5" [ngValue]="dataItem4">{{ dataItem4.thalukname }}</option>
          </select><br>
          <label for="job">Select job</label>
          <select id="itemSelect5" [(ngModel)]="selectedItem5" name="job">
          <option *ngFor="let dataItem5 of response6" [ngValue]="dataItem5">{{ dataItem5.jobname }}</option>
          </select><br>
          <input type="submit" value="Submit" >
        </form>
        </div>

        
    </div>