<p>customer works!</p>
<div>
  <p>{{ customerResponse.ID }}</p>
</div>
<button (click)="activateDiv(1)">Profile</button>
<button (click)="activateDiv(2)">Shifts</button>
<!-- PROFILE PROFILE PROFILE PROFILE PROFILE PROFILE PROFILE -->
    <div *ngIf="activeDiv === 1"> 
    <p>Block 1 is activated!</p>
    <button (click)="activate1Div(1)">My Profile</button>
    <button (click)="activate1Div(2)">Edit Profile</button>

        <div *ngIf="active1Div === 1"> 
        <p>Block 11 is activated!</p>
        </div>

        <div *ngIf="active1Div === 2"> 
        <p>Block 12 is activated!</p>
        <button (click)="activate12Div(1)">Name</button>
        <button (click)="activate12Div(2)" (click)="countryList()">Address</button>
        <button (click)="activate12Div(3)">Banking</button>
        <button (click)="activate12Div(4)">Identity</button>
        <button (click)="activate12Div(5)">Personal</button>

              <div *ngIf="active12Div === 1"> 
              <p>Block 121 is activated!</p>
              <form #nameform="ngForm" (ngSubmit)="editCustomerName(nameform.value)">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" ngModel required><br>
                <label for="middlename">Middle Name</label>
                <input type="text" name="middlename" ngModel required><br>
                <label for="lasttname">Last Name</label>
                <input type="text" name="lastname" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>

              <div *ngIf="active12Div === 2"> 
              <p>Block 122 is activated!</p>
              <form #nameform="ngForm" (ngSubmit)="editAddress(nameform.value)">
                <label for="housename">House Name/Number</label>
                <input type="text" name="housename" ngModel required><br>
                <label for="street">Street Name</label>
                <input type="text" name="street" ngModel required><br>
                <label for="landmark">Landmark</label>
                <input type="text" name="landmark" ngModel required><br>
                <label for="place">Place</label>
                <input type="text" name="place" ngModel required><br>
                <label for="postoffice">Post Office</label>
                <input type="text" name="postoffice" ngModel required><br>
                <label for="pincode">Pincode</label>
                <input type="number" name="pincode" ngModel required><br>
                <label for="localbody">Local Body</label>
                <input type="text" name="localbody" ngModel required><br>
                <label for="country">Select country</label>
                <select id="itemSelect1" [(ngModel)]="selectedItem1" name="country" (change)="stateByCountryCode()">
                <option *ngFor="let dataItem1 of response1" [ngValue]="dataItem1">{{ dataItem1.countryname }}</option>
                </select><br>
                <label for="state">Select state</label>
                <select id="itemSelect2" [(ngModel)]="selectedItem2" name="state" (change)="districtByStateCode()">
                <option *ngFor="let dataItem2 of response2" [ngValue]="dataItem2">{{ dataItem2.state }}</option>
                </select><br>
                <label for="district">Select district</label>
                <select id="itemSelect3" [(ngModel)]="selectedItem3" name="district" (change)="talukbyDistrictCode()">
                <option *ngFor="let dataItem3 of response3" [ngValue]="dataItem3">{{ dataItem3.districtname }}</option>
                </select><br>
                <label for="taluk">Select taluk</label>
                <select id="itemSelect4" [(ngModel)]="selectedItem4" name="taluk">
                <option *ngFor="let dataItem4 of response4" [ngValue]="dataItem4">{{ dataItem4.thalukname }}</option>
                </select><br>
                <input type="submit" value="Submit" >
                </form>
              </div>

              <div *ngIf="active12Div === 3"> 
              <p>Block 123 is activated!</p>
              <form #bankform="ngForm" (ngSubmit)="editBanking(bankform.value)">
                <label for="bank">Bank Name</label>
                <input type="text" name="bank" ngModel required><br>
                <label for="branch">Branch</label>
                <input type="text" name="branch" ngModel required><br>
                <label for="ifsc">IFSC code</label>
                <input type="text" name="ifsc" ngModel required><br>
                <label for="accountnumber">Account Number</label>
                <input type="text" name="accountnumber" ngModel required><br>
                <label for="secretpin">Secret Pin</label>
                <input type="number" name="secretpin" ngModel required><br>
                <label for="upiid">UPI ID</label>
                <input type="text" name="upiid" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>
              
              <div *ngIf="active12Div === 4"> 
              <p>Block 124 is activated!</p>
              <form #identityform="ngForm" (ngSubmit)="editIdentity(identityform.value)">
                <label for="adhar">Adhar Number</label>
                <input type="text" name="adhar" ngModel required><br>
                <label for="pancard">Pancard Number</label>
                <input type="text" name="pancard" ngModel required><br>
                <label for="electionid">Election id</label>
                <input type="text" name="electionid" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>

              <div *ngIf="active12Div === 5"> 
              <p>Block 125 is activated!</p>
              <form #personalform="ngForm" (ngSubmit)="editPersonal(personalform.value)">
                <label for="age">Age</label>
                <input type="number" name="age" ngModel required><br>
                <label for="dob">Date of birth</label>
                <input type="date" name="dob" ngModel required><br>
                <label for="gender">Gender</label>
                <input type="text" name="gender" ngModel required><br>
                <label for="father">Father's Name</label>
                <input type="text" name="father" ngModel required><br>
                <label for="mother">Mother's Name</label>
                <input type="text" name="mother" ngModel required><br>
                <label for="spouse">Spouse Name</label>
                <input type="text" name="spouse" ngModel required><br>
                <label for="children">Number of children</label>
                <input type="text" name="children" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>

        </div>
    </div>
  
<!-- SHIFT SHIFT SHIFT SHIFT SHIFT SHIFT SHIFT SHIFT SHIFT -->
    <div *ngIf="activeDiv === 2"> 
    <p>Block 2 is activated!</p>
    <button (click)="activate2Div(1)">My Bookings</button>
    <button (click)="activate2Div(2)">Book Shift</button>
    <button (click)="activate2Div(3)">Shift Requests</button>
    <button (click)="activate2Div(4)">Payments</button>
    
        <div *ngIf="active2Div === 1"> 
        <p>Block 21 is activated!</p>
        </div>

        <div *ngIf="active2Div === 2"> 
        <p>Block 22 is activated!</p>
        <button (click)="activate22Div(1)" (click)="countryList()" (click)="jobList()">Book Shift with specific data</button>
        <button (click)="activate22Div(2)" (click)="countryList()" (click)="jobList()">Book Shift without specific data</button>
              <div *ngIf="active22Div === 1"> 
              <p>Block 221 is activated!</p>
              <form #shiftform="ngForm" (ngSubmit)="requestShift(shiftform.value)">
              <label for="customername">Enter your name</label>
              <input type="text" name="customername" [(ngModel)]="customername" required><br>
              <label for="contact">Enter contact number</label>
              <input type="number" name="contact" [(ngModel)]="contact" required><br>
              <label for="jobdate">Enter Date</label>
              <input type="date" name="jobdate" [(ngModel)]="jobdate" required><br>
              <label for="country">Select country</label>
              <select id="itemSelect1" [(ngModel)]="selectedItem1" name="country" (change)="stateByCountryCode()">
              <option *ngFor="let dataItem1 of response1" [ngValue]="dataItem1">{{ dataItem1.countryname }}</option>
              </select><br>
              <label for="state">Select state</label>
              <select id="itemSelect2" [(ngModel)]="selectedItem2" name="state" (change)="districtByStateCode()">
              <option *ngFor="let dataItem2 of response2" [ngValue]="dataItem2">{{ dataItem2.state }}</option>
              </select><br>
              <label for="district">Select district</label>
              <select id="itemSelect3" [(ngModel)]="selectedItem3" name="district" (change)="talukbyDistrictCode()">
              <option *ngFor="let dataItem3 of response3" [ngValue]="dataItem3">{{ dataItem3.districtname }}</option>
              </select><br>
              <label for="taluk">Select taluk</label>
              <select id="itemSelect4" [(ngModel)]="selectedItem4" name="taluk">
              <option *ngFor="let dataItem4 of response4" [ngValue]="dataItem4">{{ dataItem4.thalukname }}</option>
              </select><br>
              <label for="job">Select job</label>
              <select id="itemSelect5" [(ngModel)]="selectedItem5" name="job" (change)="findShifts()">
              <option *ngFor="let dataItem5 of response5" [ngValue]="dataItem5">{{ dataItem5.jobname }}</option>
              </select><br>
              <label for="shift">Select shift</label>
              <select id="itemSelect6" [(ngModel)]="selectedItem6" name="shift">
              <option *ngFor="let dataItem6 of response6" [ngValue]="dataItem6">ExpertName:{{ dataItem6.expertname }},ShiftTime:{{dataItem6.shifttime}},Salaryperhour:{{dataItem6.salaryPerHours}}</option>
              </select><br>
              <label for="address">Enter Address of work place</label>
              <input type="text" name="address" [(ngModel)]="address" required><br>
              <label for="landmark">Enter landmark of the work area</label>
              <input type="text" name="landmark" [(ngModel)]="landmark" required><br>
              <input type="submit" value="Request Shift" >
              </form>
              </div>

              <div *ngIf="active22Div === 2"> 
                <p>Block 222 is activated!</p>
                <form #shiftform="ngForm" (ngSubmit)="requestShift(shiftform.value)">
                  <label for="customername">Enter your name</label>
                  <input type="text" name="customername" [(ngModel)]="customername" required><br>
                  <label for="contact">Enter contact number</label>
                  <input type="number" name="contact" [(ngModel)]="contact" required><br>
                  <label for="country">Select country</label>
                  <select id="itemSelect1" [(ngModel)]="selectedItem1" name="country" (change)="stateByCountryCode()">
                  <option *ngFor="let dataItem1 of response1" [ngValue]="dataItem1">{{ dataItem1.countryname }}</option>
                  </select><br>
                  <label for="state">Select state</label>
                  <select id="itemSelect2" [(ngModel)]="selectedItem2" name="state" (change)="districtByStateCode()">
                  <option *ngFor="let dataItem2 of response2" [ngValue]="dataItem2">{{ dataItem2.state }}</option>
                  </select><br>
                  <label for="district">Select district</label>
                  <select id="itemSelect3" [(ngModel)]="selectedItem3" name="district" (change)="talukbyDistrictCode()">
                  <option *ngFor="let dataItem3 of response3" [ngValue]="dataItem3">{{ dataItem3.districtname }}</option>
                  </select><br>
                  <label for="taluk">Select taluk</label>
                  <select id="itemSelect4" [(ngModel)]="selectedItem4" name="taluk">
                  <option *ngFor="let dataItem4 of response4" [ngValue]="dataItem4">{{ dataItem4.thalukname }}</option>
                  </select><br>
                  <label for="job">Select job</label>
                  <select id="itemSelect5" [(ngModel)]="selectedItem5" name="job" (change)="findShifts1()">
                  <option *ngFor="let dataItem5 of response5" [ngValue]="dataItem5">{{ dataItem5.jobname }}</option>
                  </select><br>
                  <label for="shift">Select shift</label>
                  <select id="itemSelect6" [(ngModel)]="selectedItem6" name="shift">
                  <option *ngFor="let dataItem6 of response7" [ngValue]="dataItem6">ExpertName:{{ dataItem6.expertname }},ShiftTime:{{dataItem6.shifttime}},ShiftDate:{{dataItem6.shiftdate}},Salaryperhour:{{dataItem6.salaryPerHours}}</option>
                  </select><br>
                  <label for="address">Enter Address of work place</label>
                  <input type="text" name="address" [(ngModel)]="address" required><br>
                  <label for="landmark">Enter landmark of the work area</label>
                  <input type="text" name="landmark" [(ngModel)]="landmark" required><br>
                  <input type="submit" value="Request Shift" >
                  </form>
              </div>
        </div>

        <div *ngIf="active2Div === 3"> 
        <p>Block 23 is activated!</p>
        </div>

        <div *ngIf="active2Div === 4"> 
        <p>Block 24 is activated!</p>
        <button (click)="activate24Div(1)">Pending Payments</button>
        <button (click)="activate24Div(2)">Transaction history</button>
        <button (click)="activate24Div(3)">Pay now</button>

            <div *ngIf="active24Div === 1"> 
            <p>Block 241 is activated!</p>
            </div>

            <div *ngIf="active24Div === 2"> 
            <p>Block 242 is activated!</p>
            </div>
            
            <div *ngIf="active24Div === 3"> 
            <p>Block 243 is activated!</p>
            <button (click)="activate243Div(1)" (click)="totalamount()">card payment</button>
            <button (click)="activate243Div(2)" (click)="totalamount()">Net Banking</button>
            <button (click)="activate243Div(3)" (click)="totalamount()">UPI id</button>

                <div *ngIf="active243Div === 1"> 
                <p>Block 2431 is activated!</p>
                <form #cardform="ngForm" (ngSubmit)="card(cardform.value)">
                  <label for="cardnumber">Enter card number</label>
                  <input type="text" name="cardnumber" ngModel required><br>
                  <label for="expire">Enter expiring date</label>
                  <input type="date" name="expire" ngModel required><br>
                  <label for="cvc">Enter cvc</label>
                  <input type="number" name="cvc" ngModel required><br>
                  <label for="password">Enter password</label>
                  <input type="password" name="password" ngModel required><br>
                  <label for="amount">Select Total Amount:</label>
                  <select id="totalAmount" [(ngModel)]="payamount" name="amount">
                  <option *ngFor="let item of response9" [ngValue]="item">
                    {{ item?.shiftid }}-{{ item?.hoursforwork }}
                  </option>
                  </select>
                  <input type="submit" value="Submit" >
                  </form>
                </div>

                <div *ngIf="active243Div === 2"> 
                <p>Block 2432 is activated!</p>
                <form #netbankingform="ngForm" (ngSubmit)="netbanking(netbankingform.value)">
                  <label for="username">Enter username</label>
                  <input type="text" name="username" ngModel required><br>
                  <label for="password">Enter password</label>
                  <input type="password" name="password" ngModel required><br>
                  <label for="amount">Select Total Amount:</label>
                  <select id="totalAmount" [(ngModel)]="payamount" name="amount">
                  <option *ngFor="let item of response9" [ngValue]="item">
                    {{ item?.shiftid }}-{{ item?.hoursforwork }}
                  </option>
                  </select>
                  <input type="submit" value="Submit" >
                  </form>
                </div>

                <div *ngIf="active243Div === 3"> 
                <p>Block 2433 is activated!</p>
                <form #upiform="ngForm" (ngSubmit)="upi(upiform.value)">
                  <label for="upiid">Enter upi id</label>
                  <input type="text" name="upiid" ngModel required><br>
                  <label for="password">Enter password</label>
                  <input type="password" name="password" ngModel required><br>
                  <label for="amount">Select Total Amount:</label>
                  <select id="totalAmount" [(ngModel)]="payamount" name="amount">
                  <option *ngFor="let item of response9" [ngValue]="item">
                    {{ item?.shiftid }}-{{ item?.hoursforwork }}
                  </option>
                  </select>
                  <input type="submit" value="Submit" >
                  </form>
                </div>

            </div>
        </div>
    </div>