<p>admin works!</p>
<div>
  <p>{{ adminResponse.ID }}</p>
</div>
<button (click)="activateDiv(1)">My Profile</button>
<button (click)="activateDiv(2)">Experts</button>
<button (click)="activateDiv(3)">Customers</button>
<button (click)="activateDiv(4)">Locations</button>
<button (click)="activateDiv(5)">Jobs</button>
  <div *ngIf="activeDiv === 1"> 
    <p>Block 1 is activated!</p>
  </div>
  
<!-- EXPERT EXPERT EXPERT EXPERT EXPERT EXPERT EXPERT EXPERT EXPERT EXPERT -->
  <div *ngIf="activeDiv === 2"> 
    <p>Block 2 is activated!</p>
    <button (click)="activate2Div(1)">Profile</button>
    <button (click)="activate2Div(2)">Commission</button>

        <div *ngIf="active2Div === 1"> 
        <p>Block 21 is activated!</p>
        </div>

        <div *ngIf="active2Div === 2"> 
          <p>Block 22 is activated!</p>
          <button (click)="activate22Div(1)">Add Commission</button>
          <button (click)="activate22Div(2)" (click)="commissionList()">Commission List</button>

              <div *ngIf="active22Div === 1"> 
                <p>Block 221 is activated!</p>
                <form #commissionform="ngForm" (ngSubmit)="commission(commissionform.value)">
                <label for="commission">Enter Commission Percentage</label>
                <input type="number" name="commission" ngModel required><br>
                <input type="submit" value="Submit" >
                </form>
              </div>

              <div *ngIf="active22Div === 2"> 
                <p>Block 222 is activated!</p>
                <div *ngFor="let dataItem2 of response9">
                <p>{{ dataItem2.generatedcommissionid }}</p>
                <p>{{ dataItem2.commissionpersentage }}</p>
                </div>
              </div>
        </div>
  </div>

<!-- CUSTOMER CUSTOMER CUSTOMER CUSTOMER CUSTOMER CUSTOMER CUSTOMER CUSTOMER -->
  <div *ngIf="activeDiv === 3"> 
    <p>Block 3 is activated!</p>
  </div>

<!-- PLACE PLACE PLACE PLACE PLACE PLACE PLACE PLACE PLACE PLACE PLACE -->
  <div *ngIf="activeDiv === 4"> 
    <p>Block 4 is activated!</p>
    <button (click)="activate4Div(1)">Country</button>
    <button (click)="activate4Div(2)">State</button>
    <button (click)="activate4Div(3)">District</button>
    <button (click)="activate4Div(4)">Taluk</button>

        <div *ngIf="active4Div === 1"> 
        <p>Block 41 is activated!</p>
          <button (click)="activate41Div(1)">Add New Country</button>
          <button (click)="activate41Div(2)" (click)="countryList()">List of Country</button>

              <div *ngIf="active41Div === 1"> 
              <p>Block 411 is activated!</p>
                <form #countryform="ngForm" (ngSubmit)="country(countryform.value)">
                    <label for="countryname">Country Name</label>
                    <input type="text" name="countryname" ngModel required><br>
                    <input type="submit" value="Submit" >
                </form>
              </div>

              <div *ngIf="active41Div === 2"> 
              <p>Block 412 is activated!</p>
              <div *ngFor="let dataItem of response1">
                    <p>{{ dataItem.countryname }}</p>
                    <p>{{ dataItem.countrycode }}</p>
                    <!-- Add more properties as needed -->
              </div>
              </div>
        </div>
      
        <div *ngIf="active4Div === 2"> 
        <p>Block 42 is activated!</p>
        <button (click)="activate42Div(1)" (click)="countryList()">Add New State</button>
        <button (click)="activate42Div(2)" (click)="stateList()">List of State</button>

            <div *ngIf="active42Div === 1"> 
            <p>Block 421 is activated!</p>
            <form #stateform="ngForm" (ngSubmit)="state(stateform.value)">
                <label for="itemSelect">Select Country:</label>
                <select id="itemSelect" [(ngModel)]="selectedItem" name="selectedItem">
                <option *ngFor="let dataItem of response1" [ngValue]="dataItem">{{ dataItem.countryname }}</option>
                </select>
                <p>You selected: {{ selectedItem?.countrycode }}</p>
                  <label for="statename">State Name</label>
                  <input type="text" name="statename" [(ngModel)]="statename" required><br>
                  <input type="submit" value="Submit" >
            </form>
            </div>

            <div *ngIf="active42Div === 2"> 
            <p>Block 422 is activated!</p>
            <div *ngFor="let dataItem of response2">
                <p>{{ dataItem.state }}</p>
                <p>{{ dataItem.statecode }}</p>
                <p>{{ dataItem.countrycode }}</p>
                <!-- Add more properties as needed -->
            </div>
            </div>
        </div>


        <div *ngIf="active4Div === 3"> 
        <p>Block 43 is activated!</p>
        <button (click)="activate43Div(1)" (click)="countryList()">Add New District</button>
        <button (click)="activate43Div(2)" (click)="districtList()">List of District</button>

            <div *ngIf="active43Div === 1"> 
            <p>Block 421 is activated!</p>
            <form #districtform="ngForm" (ngSubmit)="district(districtform.value)">
            <label for="itemSelect1">Select Country:</label>
            <!-- Update your template code at line 83 -->
            <select id="itemSelect1" [(ngModel)]="selectedItem1" name="selectedItem1" (change)="byCountryCode()">
            <option *ngFor="let dataItem1 of response1" [ngValue]="dataItem1">{{ dataItem1.countryname }}</option>
            </select><br>
            <label for="itemSelect2">Select Country:</label>
            <select id="itemSelect2" [(ngModel)]="selectedItem2" name="selectedItem2">
            <option *ngFor="let dataItem2 of response4" [ngValue]="dataItem2">{{ dataItem2.state }}</option>
            </select>
            <p>You selected: {{ selectedItem1?.countrycode }}</p>
            <p>You selected: {{ selectedItem2?.statecode }}</p>
            <label for="districtname">District Name</label>
            <input type="text" name="districtname" [(ngModel)]="districtname" required><br>
            <input type="submit" value="Submit" >
            </form>
            </div>

            <div *ngIf="active43Div === 2"> 
            <p>Block 422 is activated!</p>
            <div *ngFor="let dataItem of response3">
            <p>{{ dataItem.districtname }}</p>
            <p>{{ dataItem.districtcode }}</p>
            <p>{{ dataItem.statecode }}</p>
            <p>{{ dataItem.countrycode }}</p>
            <!-- Add more properties as needed -->
            </div>
            </div>
        </div>

        <div *ngIf="active4Div === 4"> 
        <p>Block 44 is activated!</p>
        <button (click)="activate44Div(1)" (click)="countryList()">Add New Taluk</button>
        <button (click)="activate44Div(2)" (click)="talukList()">List of Taluk</button>

            <div *ngIf="active44Div === 1"> 
            <p>Block 441 is activated!</p>
            <form #districtform="ngForm" (ngSubmit)="taluk(districtform.value)">
            <label for="itemSelect11">Select Country:</label>
            <select id="itemSelect11" [(ngModel)]="selectedItem1" name="selectedItem1" (change)="byCountryCode()">
            <option *ngFor="let dataItem11 of response1" [ngValue]="dataItem11">{{ dataItem11.countryname }}</option>
            </select><br>
            <label for="itemSelect12">Select State:</label>
            <select id="itemSelect12" [(ngModel)]="selectedItem2" name="selectedItem2" (change)="byStateCode()">
            <option *ngFor="let dataItem12 of response4" [ngValue]="dataItem12">{{ dataItem12.state }}</option>
            </select><br>
            <label for="itemSelect13">Select District:</label>
            <select id="itemSelect13" [(ngModel)]="selectedItem3" name="selectedItem3">
            <option *ngFor="let dataItem13 of response6" [ngValue]="dataItem13">{{ dataItem13.districtname }}</option>
            </select>
            <p>You selected: {{ selectedItem1?.countrycode }}</p>
            <p>You selected: {{ selectedItem2?.statecode }}</p>
            <p>You selected: {{ selectedItem3?.districtcode }}</p>
            <label for="talukname">Taluk Name</label>
            <input type="text" name="talukname" [(ngModel)]="talukname" required><br>
            <input type="submit" value="Submit" >
            </form>
            </div>

            <div *ngIf="active44Div === 2"> 
            <p>Block 442 is activated!</p>
            <div *ngFor="let dataItem of response7">
            <p>{{ dataItem.thalukname }} {{ dataItem.thalukcode }} {{ dataItem.districtcode }} {{ dataItem.statecode }} {{ dataItem.countrycode }}</p>
            <!-- Add more properties as needed -->
            </div>
            </div>
        </div>
  </div>

<!-- JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB JOB -->
  <div *ngIf="activeDiv === 5"> 
    <p>Block 5 is activated!</p>
    <button (click)="activate5Div(1)">Add New Job</button>
    <button (click)="activate5Div(2)" (click)="jobList()">List of Job</button>

        <div *ngIf="active5Div === 1"> 
        <p>Block 51 is activated!</p>
        <form #jobform="ngForm" (ngSubmit)="job(jobform.value)">
            <label for="jobname">Add Job Name</label>
            <input type="text" name="jobname" ngModel required><br>
            <input type="submit" value="Submit" >
        </form>
        </div>

        <div *ngIf="active5Div === 2">
          <p>Block 52 is activated!</p>
          <div *ngFor="let dataItem of response8">
            <p>{{ dataItem.jobname }}</p>
            <p>{{ dataItem.jobcode }}</p>
            <!-- Add more properties as needed -->
      </div>
        </div>
  </div>