<body>
  <div class="header">
      <nav>
          <div class="logo">N<span>i</span>B<span>-</span>L<span>i</span>nk</div>
          <div>
              <button class="join">Join partner 
              <div class="sub-menu-1">
                  <ul>
                      <li><a href="#">Join Experts</a></li>
                      <li><a href="#">Join Engineers</a></li>
                      <li><a href="#">Join Machine Owners</a></li>
                      <li><a href="#">Join Trucks</a></li>
                      <li><a href="#">Join Earth Movers</a></li>
                  </ul>
              </div>
              </button>
          <button><a href="#">Sign In</a></button>
      </div>
      </nav>
      <div class="header-content">
          <h1>Experts are ready to work</h1>
          <h2>Your time is valuable</h2>
          <h3>Maintain Quality</h3>
          
      </div>
  </div>
  </div> 
<router-outlet></router-outlet>
</body>