*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    animation-name: bg;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    color: #fff;
}
@keyframes bg{
    0%{background-color: #000047;}
    25%{background-color: #000035;}
    50%{background-color: #000000;}
    75%{background-color: #000035;}
    100%{background-color: #000047;}
}
.header{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../assets/Work.jpg);
background-size: cover;
background-position: center;
padding: 10px 8%;
position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    font-size: 30px;
    cursor: pointer;
}
span{
    color: red;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
nav button a{
    text-decoration: none;
    color: #fff;
}


@media only screen and (max-width: 600px){
    nav button{
        padding: 5px 10px;
    }
    nav .language{
        padding: 4px 8px;
    }
   
}
