<p>signin works!</p>
<form *ngIf="showoff" #signin="ngForm" (ngSubmit)="login(signin.value)">
    <label for="user">User Name</label>
    <input type="text" name="user" ngModel required><br>
    <label for="pass">Password</label>
    <input type="text" name="pass" ngModel required><br>
    <input type="submit" value="Submit" >
</form>
<div *ngIf="isLoggedIn">
    <input *ngIf="isLoggedIn" type="button" value="Logout" (click)="logout()">
    <div *ngIf="checkFirstLetters1(response?.ID)">  
    <app-admin [adminResponse]="response"></app-admin>
    </div>
    <div *ngIf="checkFirstLetters2(response?.ID)">
    <app-expert [expertResponse]="response"></app-expert>
    </div>
     <div *ngIf="checkFirstLetters3(response?.ID)">
    <app-customer [customerResponse]="response"></app-customer>
    </div>
</div>


